/* stylesheet variables */
:root{
    --red: #CD5C5C;
    --white: #F8F1DF;
    --grey: #4C4E4F;
    --heading-size: 2.5rem;
    --paragraph-size: 1.25rem;
}
::-webkit-scrollbar {
    display: none;
}
html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    background-color: var(--white);
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    overflow: scroll;
    height: 325vh;
}
.fade-out-element {
    animation: fade-out 1.4s ease-in;
    animation-fill-mode: forwards;
}
.fade-in-element {
  animation: fade-in 1.2s ease-in;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.hidden {
    transition: 1.4s linear;
    animation: fade-out;
    opacity: 0;
}
article {
    /* box-shadow: 0px 25px 30px -25px #111; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
p {
    color: var(--black);
    font-size: var(--paragraph-size);
    font-weight: 200;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10rem;
}
.headLine {
    margin-bottom: 10rem;
}
h2 {
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}
body:after {
  animation: grain 8s steps(10) infinite;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -110%;
  width: 300%;
    }
    @keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

